<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <ng-container>
          <mat-icon class="mat-18">home</mat-icon>
        </ng-container>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button mat-raised-button (click)="loginOnClick()">Login</button>
      </mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <!-- <router-outlet></router-outlet> -->
    <ng-container *ngIf="isLogin">
      <app-admin-login></app-admin-login>
    </ng-container>
    <ng-container *ngIf="isLogin">
      <app-users></app-users>
    </ng-container>
  </mat-drawer-content>
</mat-drawer-container>
